<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>EdTube</title>
  <link rel="stylesheet" type="text/css" href="../sass/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="nav">
    <ul class="nav-list">
      <span class="nav-left">
        <li class="nav-burger">
          <div class="nav-burger--line"></div>
          <div class="nav-burger--line"></div>
          <div class="nav-burger--line"></div>
        </li>
        <li class="nav-logo">
          <img class="nav-logo--img" src="/et_logo.png">
        </li>
        <span class="navlinks">
          <li>
            <a class="navlink active" id="userslink" href="user">Users</a>
          </li>
          <li>
            <a class="navlink" id="playlistslink" href="playlist">Playlists</a>
          </li>
          <li>
            <a class="navlink" id="trendinglink" href="trending">Trending</a>
          </li>
        </span>
      </span>
      <span class="nav-right">
        <li><i class="fas fa-video-plus"></i></li>
        <li><i class="fas fa-th"></i></li>
        <li><i class="fas fa-comment"></i></li>
        <li><i class="fas fa-bell"></i></li>
      </span>
    </ul>
  </div>
  <div class="main">
    <h1>Welcome To Eddy Tube</h1>
    <h2>Users</h2>

    {{!-- add a user --}}
    <form method="POST" action="/users">
      <p>Add new user</p>
      <div class="tubeinput">
        <input class="form-control" type="text" name="input-username" placeholder="Username (required)">
        <input class="form-control" type="text" name="input-biography" placeholder="Bio">
        <input class="form-control" type="text" name="input-name" placeholder="Name">
        <input class="form-control" type="text" name="input-email" placeholder="Email">
        <input class="form-control" type="text" name="input-address" placeholder="Address">
        <input class="form-control" type="text" name="input-postalcode" placeholder="Postal code">
        <input tclass="form-control" ype="submit" value="Add user" name="insert-user"></p>
      </div>
    </form>
    {{!-- delete a user's videos --}}
    <form method="POST" action="/users">
      <p>Delete a user's videos</p>
      <div class="tubeinput">
        <input class="form-control" type="text" name="input-username" placeholder="Username (required)">
        <input tclass="form-control" ype="submit" value="Add user" name="insert-user"></p>
      </div>
    </form>
    {{!-- update a user's biography --}}
    {{!-- get all videos that belong to a user's channel --}}
    {{!-- get all users a user follows (follower list) --}}
    <ul>
      {{#each users}}
      <li>{{uname}}, {{name}}, {{biography}}, {{email}}, {{address}}, {{postalcode}}</li>
      {{/each}}
    </ul>
    <h2>Postal Codes</h2>
    <ul>
      {{#each postalcodes}}
      <li>{{postalcode}}, {{city}}, {{province}}</li>
      {{/each}}
    </ul>
    <form method="POST" action="/example">
      <p>Postal Code&nbsp;&nbsp;&nbsp;City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Province</p>
      <input type="text" name="postalcode" size="6">&nbsp;<input type="text" name="city" size="6">&nbsp;<input type="text"
        name="province" size="6">
      <input type="submit" value="Add Postal Code" name="insert"></p>
    </form>
  </div>
</body>

</html>