<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>EdTube - Playlists</title>
  <link rel="stylesheet" type="text/css" href="../sass/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="nav">
    <ul class="nav-list">
      <span class="nav-left">
        <li class="nav-burger">
          <div class="nav-burger--line"></div>
          <div class="nav-burger--line"></div>
          <div class="nav-burger--line"></div>
        </li>
        <li class="nav-logo">
          <img class="nav-logo--img" src="/et_logo.png">
        </li>
        <span class="navlinks">
          <li>
            <a class="navlink active" id="userslink" href="user">Users</a>
          </li>
          <li>
            <a class="navlink" id="playlistslink" href="playlist">Playlists</a>
          </li>
          <li>
            <a class="navlink" id="trendinglink" href="trending">Trending</a>
          </li>
          <li>
            <a class="navlink" id="channelslink" href="myChannels">My Channels</a>
          </li>
        </span>
      </span>
      <span class="nav-right">
        <li><i class="fas fa-video-plus"></i></li>
        <li><i class="fas fa-th"></i></li>
        <li><i class="fas fa-comment"></i></li>
        <li><i class="fas fa-bell"></i></li>
      </span>
    </ul>
  </div>
  <div class="main">
    <div class="input-section">
      <h1>Playlists</h1>
      {{!-- get playlist complexion --}}
      <form method="POST" action="/playlist">
        <p>Get number of videos from different channels in a playlist</p>
        <div class="tubeinput">
          <input class="form-control" type="text" name="input-pname" placeholder="Playlist name">
          <input class="form-control" type="text" name="input-uname" placeholder="Creator">
          <input id="playlists-channels" class="form-control btn btn-info" type="submit" value="Get number of videos"
            name="get-num-vids-per-channel-in-playlist"></p>
        </div>
      </form>
      {{!-- get all videos from a playlist --}}
      <form method="POST" action="/playlist">
        <p>Get all videos from a playlist</p>
        <div class="tubeinput">
          <input class="form-control" type="text" name="input-pname" placeholder="Playlist name">
          <input class="form-control" type="text" name="input-uname" placeholder="Creator">
          <input id="playlist-getall" class="form-control btn btn-info" type="submit" value="Get videos" name="get-vids-from-playlist"></p>
        </div>
      </form>
      {{!-- delete a playlist --}}
      <form method="POST" action="/playlist">
        <p>Delete a playlist</p>
        <div class="tubeinput">
          <input class="form-control" type="text" name="input-pname" placeholder="Playlist name">
          <input class="form-control" type="text" name="input-uname" placeholder="Creator">
          <input id="playlist-delete" class="form-control btn btn-danger" type="submit" value="Delete playlist" name="delete-playlist"></p>
        </div>
      </form>
    </div>

    <div class="results-section">
      <div class="showall">
        <a href="/playlist" class="form-control btn btn-success refresh" type="submit" value="Refresh results" name="refresh">
          Show all playlists
        </a>
      </div>
      {{!-- complete playlists table --}}
      {{#if allPlaylists}}
      <table class="results-table">
        <thead>
          <tr>
            <th>Playlist Name</th>
            <th>Description</th>
            <th>Creator</th>
          </tr>
        </thead>
        <tbody>
          {{#each allPlaylists}}
          <tr>
            <td>{{pname}}</td>
            <td>{{description}}</td>
            <td>{{uname}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}

      {{#if numPerChan}}
      <table class="results-table">
        <thead>
          <tr>
            <th>Number Videos</th>
            <th>Channel Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each numPerChan}}
          <tr>
            <td>{{count}}</td>
            <td>{{cname}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}

      {{#if vidsInPlaylist}}
      <table class="results-table">
        <thead>
          <tr>
            <th>Video ID</th>
            <th>Description</th>
            <th>Playtime</th>
          </tr>
        </thead>
        <tbody>
          {{#each vidsInPlaylist}}
          <tr>
            <td>{{vid}}</td>
            <td>{{description}}</td>
            <td>{{playtime}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}

      {{#if error}}
      <table class="results-table">
          <tr>
            {{error}}
          </tr>
      </table>
      {{/if}}
    </div>
  </div>
</body>

</html>
