<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>EdTube - Users</title>
  <link rel="stylesheet" type="text/css" href="../sass/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="nav">
    <ul class="nav-list">
      <span class="nav-left">
        <li class="nav-burger">
          <div class="nav-burger--line"></div>
          <div class="nav-burger--line"></div>
          <div class="nav-burger--line"></div>
        </li>
        <li class="nav-logo">
          <img class="nav-logo--img" src="/et_logo.png">
        </li>
        <span class="navlinks">
          <li>
            <a class="navlink active" id="userslink" href="user">Users</a>
          </li>
          <li>
            <a class="navlink" id="playlistslink" href="playlist">Playlists</a>
          </li>
          <li>
            <a class="navlink" id="trendinglink" href="trending">Trending</a>
          </li>
          <li>
            <a class="navlink" id="trendinglink" href="myChannels">My Channels</a>
          </li>
        </span>
      </span>
      <span class="nav-right">
        <li><i class="fas fa-video-plus"></i></li>
        <li><i class="fas fa-th"></i></li>
        <li><i class="fas fa-comment"></i></li>
        <li><i class="fas fa-bell"></i></li>
      </span>
    </ul>
  </div>
  <div class="main">
    <div class="input-section">
      <h1>Welcome To Eddy Tube</h1>
      <h2>Users</h2>
      {{!-- add a user --}}
      <form method="POST" action="/user">
        <p>Add new user</p>
        <div class="tubeinput">
          <input class="form-control" type="text" name="input-username" placeholder="Username (required)">
          <input class="form-control" type="text" name="input-biography" placeholder="Bio">
          <input class="form-control" type="text" name="input-name" placeholder="Name">
          <input class="form-control" type="text" name="input-email" placeholder="Email">
          <input class="form-control" type="text" name="input-address" placeholder="Address">
          <input class="form-control" type="text" name="input-postalcode" placeholder="Postal code">
          <input id="user-add" class="form-control btn btn-info" type="submit" value="Add user" name="insert-user"></p>
        </div>
      </form>
      {{!-- delete a user's videos --}}
      <form method="POST" action="/user">
        <p>Delete a user's videos</p>
        <div class="tubeinput">
          <input class="form-control" type="text" name="input-username" placeholder="Username">
          <input id="user-deletevideos" class="form-control btn btn-danger" type="submit" value="Delete videos" name="delete-user-vids"></p>
        </div>
      </form>
      {{!-- update a user's biography --}}
      <form method="POST" action="/user">
        <p>Update a user's biography</p>
        <div class="tubeinput">
          <input class="form-control" type="text" name="input-username" placeholder="Username">
          <input class="form-control" type="text" name="input-bio" placeholder="Bio">
          <input id="user-updatebio" class="form-control btn btn-info" type="submit" value="Update bio" name="update-bio"></p>
        </div>
      </form>
      {{!-- get all videos that belong to a user's channel --}}
      <form method="POST" action="/user">
        <p>Get all of a user's videos</p>
        <div class="tubeinput">
          <input class="form-control" type="text" name="input-username" placeholder="Username">
          <input id="user-allvideos" class="form-control btn btn-info" type="submit" value="Get videos" name="get-videos-user"></p>
        </div>
      </form>
      {{!-- get all a user's followers --}}
      <form method="POST" action="/user">
        <p>Get a user's followers</p>
        <div class="tubeinput">
          <input class="form-control" type="text" name="input-username" placeholder="Username">
          <input id="user-followers" class="form-control btn btn-info" type="submit" value="Get followers" name="get-followers"></p>
        </div>
      </form>
      {{!-- get users who follow all other users --}}
      <form method="POST" action="/user">
        <p>Get user(s) who follow all other users</p>
          <div class="tubeinput">
            <input id="user-creepy-followers" class="form-control btn btn-info" type="submit" value="Get followers" name="get-creepy-followers"></p>
          </div>
      </form>
    </div>

    {{!-- results table --}}
    <div class="results-section">
      <a href="/user" class="form-control btn btn-success refresh" type="submit" value="Refresh results" name="refresh">
        Refresh results
      </a>
      {{#if users}}
      <h2>Users</h2>
      <table class="results-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Biography</th>
            <th>Email</th>
            <th>Address</th>
            <th>Postal code</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{uname}}</td>
            <td>{{name}}</td>
            <td>{{biography}}</td>
            <td>{{email}}</td>
            <td>{{address}}</td>
            <td>{{postalcode}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}

        {{#if followers}}
            <h2>Followers</h2>
            <table class="results-table">
                <thead>
                <tr>
                    <th>User Names</th>
                </tr>
                </thead>
                <tbody>
                {{#each followers}}
                    <tr>
                        <td>{{follower_uname}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/if}}

      {{#if videos}}
      <h2>Videos</h2>
      <table class="results-table">
        <thead>
          <tr>
            <th>VID</th>
            <th>Description</th>
            <th>Name</th>
            <th>User</th>
            <th>Play Time</th>
            <th>Channel Name</th>
            <th>Date Posted</th>
            <th>Time Posted</th>
            <th>Storage Server</th>
          </tr>
        </thead>
        <tbody>
          {{#each videos}}
          <tr>
            <td>{{vid}}</td>
            <td>{{description}}</td>
            <td>{{vname}}</td>
            <td>{{uname}}</td>
            <td>{{playtime}}</td>
            <td>{{cname}}</td>
            <td>{{date}}</td>
            <td>{{time}}</td>
            <td>{{storageserver}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}
    </div>
  </div>
</body>

</html>
